fastapi
uvicorn[standard]
python-multipart
langchain>=0.0.146
chromadb
tqdm
pypdf
pandas
sqlalchemy
python-dotenv
requests
python-dateutil
unstructured
langchain-openai
langchain
openai
langchain-classic
langchain-text-splitters
chromadb>=0.3.2
langchain-chroma
langchain-community
